@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Nunito;
}

.bodyLike {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: #525252;
}

#loginLeft {
  width: 45%;
  height: 100vh;
  align-items: flex-start;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

#loginRight {
  width: 55%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginLogo {
  margin-bottom: 55px;
  display: block;
}
.loginInput {
  width: 80%;
  margin-bottom: 15px;
  p {
    font-size: 15px;
    letter-spacing: 0px;
    margin-bottom: 5px;
  }
  input {
    background-color: #f4f4f4;
    border: #f4f4f4 1px solid;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    display: block;
    padding: 0px 15px;

    box-sizing: border-box;
  }
  input:focus {
    outline: none !important;
    border: #4b9ce2 1px solid;
    border-color: #4b9ce2;
    background-color: #f0f8ff;
  }
  a {
    margin-top: 5px;
    font-size: 12px;
    color: #b1b1b1;
    text-decoration: inherit;
    float: right;
  }
}
#loginBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 3px 12px #1e36480a;
  border-radius: 8px;
  button {
    width: 80%;
    height: 45px;
    background: #4b9ce2;
    border-radius: 8px;
    border: 0 solid;
    font: normal normal bold 18px/24px Nunito;
    letter-spacing: 0px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 41px;
    cursor: pointer;
  }
}

#girisYap {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 32px;
  margin-top: 70px;
  margin-bottom: 10px;
}
#girisAlt {
  text-align: center;
  letter-spacing: 0px;
  font-size: 15px;
  margin-bottom: 35px;
}
#loginDirectly {
  font-size: 15px;
  margin-bottom: 70px;
  a {
    color: #4b9ce2;
    text-decoration: inherit;
  }
}

.cardGroup {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px 280px;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.productCard {
  justify-self: center;
  width: 280px;
  height: 392px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  background-color: #ffffff;
  margin-bottom: 20px;

  img {
    width: 260px;
    height: 297px;
    object-fit: cover;
    object-position: center top;
    border-radius: 8px;
  }
  .brandColor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: auto;
    .brandName {
      color: #4b9ce2;
    }
    .productColor {
      font-size: 13px;
      color: #3e3e3e;
    }
  }
  .productPrice {
    color: #3e3e3e;
    font-size: 18px;
    justify-self: last baseline;
    margin-top: auto;
  }
}

.bold {
  font-weight: bold;
}

.header {
  font-weight: bold;
  font-size: 15px;
  color: #4b9ce2;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  box-sizing: border-box;
  padding: 20px 220px;
  align-items: center;
  img {
    height: 40px;
    width: auto;
    cursor: pointer;
  }
  .headerButton {
    box-sizing: border-box;
    padding: 10px 19px;
    background-color: #f0f8ff;
    border-radius: 8px;
    margin-right: 10px;
    max-height: 40px;
    cursor: pointer;

    &:first-of-type {
      margin-left: auto;
    }
    &:last-of-type {
      margin-right: 0px;
    }
    span {
      margin-left: 7px;
    }
  }
}

.banner {
  img {
    margin: 0px 220px 30px 220px;
    width: calc(100% - 440px);
  }
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .bodyLike {
    background-color: #f2f2f2;
  }
  #loginLeft {
    display: none;
  }

  #loginRight {
    width: 100%;
  }
  img {
    width: 150px;
  }
  #loginBlock {
    width: calc(100% - 20px);
    button {
      margin-top: 0px;
    }
  }
  #girisYap {
    margin-top: 22px;
  }
  #loginDirectly {
    margin-bottom: 29px;
  }
  #loginLogo {
    margin-bottom: 24px;
  }

  .cardGroup {
    display: grid;
    grid-template-columns: 173px 173px;
  }

  .productCard {
    width: 173px;
    height: 266px;
    padding: 6px;
    margin-bottom: 10px;
    img {
      width: 161px;
      height: 184px;
    }
    .brandColor {
      .productColor {
        font-size: 10px;
      }
    }
    .productPrice {
      color: #3e3e3e;
      font-size: 18px;
      justify-self: last baseline;
      margin-top: auto;
    }
  }

  .header {
    height: 60px;
    padding: 10px;
    align-items: center;
    img {
      height: 30px;
      width: auto;
    }
    .headerButton {
      box-sizing: border-box;
      padding: 10px 19px;
      background-color: #f0f8ff;
      border-radius: 8px;
      margin-right: 10px;
      max-height: 40px;
      &:first-of-type {
        margin-left: auto;
      }
      &:last-of-type {
        margin-right: 0px;
      }
      span {
        margin-left: 7px;
      }
    }
  }

  .banner {
    img {
      margin: 0px 10px 20px 10px;
      width: calc(100% - 20px);
    }
  }

  .notVisibleMobile {
    display: none;
  }
}
