@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: inherit;
}

body {
  font-family: Nunito;
  background-color: #f2f2f2;
  text-decoration: inherit;
}

.bodyLike {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: #525252;
}

#loginLeft {
  width: 45%;
  height: 100vh;
  align-items: flex-start;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

#loginRight {
  width: 55%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginLogo {
  margin-bottom: 55px;
  display: block;
}

.loginInput {
  width: 80%;
  margin-bottom: 15px;

  p {
    font-size: 15px;
    letter-spacing: 0px;
    margin-bottom: 5px;
  }

  input {
    background-color: #f4f4f4;
    border: #f4f4f4 1px solid;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    display: block;
    padding: 0px 15px;

    box-sizing: border-box;
  }

  input:focus {
    outline: none !important;
    border: #4b9ce2 1px solid;
    border-color: #4b9ce2;
    background-color: #f0f8ff;
  }

  a {
    margin-top: 5px;
    font-size: 12px;
    color: #b1b1b1;
    text-decoration: inherit;
    float: right;
  }
}

#loginBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 3px 12px #1e36480a;
  border-radius: 8px;

  button {
    width: 80%;
    height: 45px;
    background: #4b9ce2;
    border-radius: 8px;
    border: 0 solid;
    font: normal normal bold 18px/24px Nunito;
    letter-spacing: 0px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 41px;
    cursor: pointer;
    &:disabled {
      background-color: #adadad;
    }
  }
}

#girisYap {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 32px;
  margin-top: 70px;
  margin-bottom: 10px;
}

#girisAlt {
  text-align: center;
  letter-spacing: 0px;
  font-size: 15px;
  margin-bottom: 35px;
}

#loginDirectly {
  font-size: 15px;
  margin-bottom: 70px;

  a {
    color: #4b9ce2;
    text-decoration: inherit;
  }
}

.cardGroup {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px 280px;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin: 0px 220px;
}

.productCard {
  justify-self: center;
  width: 280px;
  height: 392px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  background-color: #ffffff;
  margin-bottom: 20px;

  img {
    width: 260px;
    height: 297px;
    object-fit: cover;
    object-position: center top;
    border-radius: 8px;
  }

  .brandColor {
    display: flex;
    margin-bottom: auto;

    .brandName {
      color: #4b9ce2;
    }

    .productColor {
      font-size: 13px;
      color: #3e3e3e;
      margin-left: auto;
    }
  }

  .productPrice {
    color: #3e3e3e;
    font-size: 18px;
    justify-self: last baseline;
    margin-top: auto;
  }
}

.bold {
  font-weight: bold;
}

.header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  box-sizing: border-box;
  padding: 20px 220px;
  align-items: center;

  img {
    height: 40px;
    width: auto;
    cursor: pointer;
  }

  .headerButton {
    box-sizing: border-box;
    padding: 10px 19px;
    background-color: #f0f8ff;
    border-radius: 8px;
    margin-right: 10px;
    max-height: 40px;
    cursor: pointer;
    text-decoration: inherit;
    border: none;
    font-weight: bold;
    color: #4b9ce2;
    font-family: Nunito;
    font-size: 15px;

    &.firstItem {
      margin-left: auto;
    }

    &.lastItem {
      margin-right: 0px;
    }

    span {
      margin-left: 7px;
    }
  }
}

.banner {
  img {
    margin: 0px 220px 30px 220px;
    width: calc(100% - 440px);
  }
}

.slider {
  margin: 0px 220px 30px 220px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  font-size: 18px;
  max-width: calc(100% - 440px);
  overflow-x: scroll;
  scrollbar-width: none;
  height: 25px;

  a {
    color: #525252;
    padding-bottom: 14px;
    text-decoration: inherit;
    font-weight: 600;
    margin-right: 45px;
    cursor: pointer;

    &:last-child {
      margin-right: 0px;
    }
  }

  #activeCategory {
    border-bottom: 3px solid #4b9ce2;
    color: #4b9ce2;
  }
}

.slider::-webkit-scrollbar {
  display: none;
}

.productDetail {
  margin: 20px 220px 0px 220px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;

  .productDetailImage {
    img {
      width: 700px;
      height: 737px;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }
  }

  .productDetails {
    margin-top: 14px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    color: #525252;

    .detailHeader {
      height: 46px;
      font-size: 34px;
      color: #555;
      margin-bottom: 25px;
    }

    .detailProps {
      display: inline-grid;
      grid-template-columns: 165px 1fr;
      grid-template-rows: auto auto auto;
      font-size: 15px;
      margin-bottom: 10px;

      .propHead {
        height: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }

    .detailPrice {
      height: 34px;
      font-size: 25px;
      font-weight: bold;
    }

    .offeredPrice {
      width: 230px;
      height: 36px;
      background: #f2f2f2 0% 0% no-repeat padding-box;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 8px 0px 8px 10px;
      span {
        font-family: Nunito;
        font-size: 15px;
        &:first-child {
          color:#B1B1B1
        }
        &:last-child {
          color: #525252;
          font-weight: bold;
          margin-left: 4px;
        }
      }
    }

    .detailButtons {
      margin-top: 30px;
      height: 45px;
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      cursor: pointer;

      .detailButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        box-sizing: border-box;
        min-width: 200px;

        &:first-child {
          background-color: #4b9ce2;
          color: #fff;
          margin-right: 10px;
        }

        &:last-child {
          background-color: #f0f8ff;
          color: #4b9ce2;
          margin-right: 0px;
        }
      }
    }

    .detailAbout {
      display: flex;
      flex-direction: column;

      .aboutHeader {
        height: 24px;
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .aboutDesc {
        width: 480px;
        text-align: left;
        font: normal normal normal 15px/23px;
        letter-spacing: 0px;
        color: #555555;
        opacity: 1;
      }
    }
  }
}

.userCard {
  height: 70px;
  margin: 20px 220px 10px 220px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 16px 0px 16px 26px;
  box-sizing: border-box;
  align-items: center;
  background-color: #fff;

  .userNameDisplay {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
  }
}

.offerTable {
  margin: 0px 220px 80px 220px;
  background-color: #fff;
  border-radius: 8px;

  .offerSelection {
    padding-bottom: 6px;
    padding-top: 20px;
    border-bottom: 1px solid #e0e0e0;

    span {
      margin-left: 30px;
      padding-bottom: 5px;
      cursor: pointer;
    }
  }

  .offerCards {
    margin: 0px 40px 0px 30px;
    padding: 10px;

    .takenCards {
      border: 1px solid #f2f2f2;
      border-radius: 8px;
      padding: 10px;
      height: 104px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img {
        width: 78px;
        height: 84px;
        object-fit: cover;
        border-radius: 8px;
      }

      button {
        margin-left: auto;
        margin-right: 10px;
        width: 86px;
        height: 30px;
        font-size: 15px;
        border-radius: 8px;
        color: #fff;
        border: none;
        background-color: #4b9ce2;

        &:last-of-type {
          background-color: #f77474;
          margin-right: 30px;
          margin-left: 0px;
        }

        &:only-of-type {
          background-color: #4b9ce2;
          margin-right: 0px;
          margin-left: auto;
        }
      }

      .response {
        margin-left: auto;
        margin-right: 30px;
        font: normal normal normal 15px/23px Nunito;
      }

      .response.granted {
        margin-left: 30px;
        &:last-of-type {
          margin-left: auto;
        }
      }

      .response.granted.permission {
        margin-left: 30px;
      }

      .namePrice {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .takenName {
          font-size: 18px;
          color: #555;
          margin-bottom: 7px;
          cursor: pointer;
        }

        .takenPrice {
          width: 230px;
          height: 36px;
          border-radius: 8px;
          background-color: #f2f2f2;
          display: flex;
          flex-direction: row;
          align-items: center;
          box-sizing: border-box;
          padding: 8px 10px;

          .first {
            margin-right: 7px;
            font-size: 15px;
            color: #b1b1b1;
          }

          .second {
            font-size: 15px;
            font-weight: bold;
            color: #525252;
          }
        }
      }
    }
  }
}

.granted {
  color: #4b9ce2;
}

.denied {
  color: #f77474;
}

.accepted {
  color: #46af32;
}

.addProductCard {
  margin: 20px 220px 20px 220px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  height: 100%;

  .addForm {
    display: flex;
    flex-direction: column;
    input,
    select {
      font-size: 16px;
      border: none;
      background: #f4f4f4 0% 0% no-repeat padding-box;
      border-radius: 8px;
      width: 100%;
    }
    p {
      margin-top: 25px;
      margin-bottom: 5px;
    }
    select {
      height: 45px;
    }
    button {
      margin-top: 100px;
      margin-left: auto;
      width: 315px;
      height: 45px;
      background: #4b9ce2;
      border-radius: 8px;
      border: 0 solid;
      font: normal normal bold 18px/24px Nunito;
      letter-spacing: 0px;
      color: #ffffff;
      cursor: pointer;
      display: block;
    }
  }

  .addProduct {
    display: flex;
    flex: row;
  }

  .addProductLeft {
    box-sizing: border-box;
    border-right: 1px solid #f2f2f2;
    padding-right: 48px;
    width: 60%;
  }

  .addProductRight {
    box-sizing: border-box;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
  }
}

.addProductDetailsHeader {
  font-weight: bold;
  font-size: 25px;
  color: #525252;
}

.addProductDetails {
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
}

.inputName {
  height: 45px;
}

.inputDesc {
  height: 92px;
  resize: none;
  font-size: 16px;
  border: none;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border-radius: 8px;
  width: 100%;
  font: normal normal normal 16px/22px Nunito;
}

.formGrid {
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
}

.priceLess {
  position: relative;
  display: inline-block;
}
.priceInput {
  padding-right: 35px;
  width: 236px;
  height: 45px;
}
.priceHelper {
  position: absolute;
  right: -30px;
  top: 13px;
  color: #99a0a7;
  font-size: 16px;
}

.switchButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.switchBtn {
  margin-right: 120px;
  margin-top: 20px;
  font: normal normal normal 16px/22px Nunito;
  color: #b1b1b1;
}

.uploadedImage {
  width: 113px;
  height: 113px;
  object-fit: cover;
  object-position: center top;
  cursor: pointer;
}

.removeBtn {
  width: 18px;
  height: 18px;
  position: absolute;
  margin-left: 103px;
  margin-top: -9px;
}

.addImage {
  input {
    font-size: 16px;
    border: none;
    background: white;
    border-radius: 0px;
    width: auto;
    font-family: Nunito;
  }
}

.productOffer {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10vh;
  width: 480px;
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 12px #1e36482e;
  border-radius: 10px;
  .productOfferHeader {
    font: normal normal bold 25px/23px Nunito;
    letter-spacing: 0px;
    color: #525252;
    display: flex;
    flex-direction: row;
    width: 100%;
    .closeButton {
      cursor: pointer;
    }
  }

  .offerButton {
    button {
      width: 315px;
      height: 45px;
      border-radius: 8px;
      background-color: #4b9ce2;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      font: normal normal bold 18px/24px Nunito;
      cursor: pointer;
    }
  }
  .closeButton {
    margin-left: auto;
  }
  .smallProductCard {
    padding: 6px 11px 4px 6px;
    box-sizing: border-box;
    background-color: #f0f8ff;
    border-radius: 10px;
    margin-top: 17px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      object-fit: cover;
      object-position: center top;
    }

    .smallProductName {
      width: 140px;
      color: #555555;
      font: normal normal normal 13px/16px Nunito;
      margin-left: 7px;
    }

    .smallProductPrice {
      color: #525252;
      font: normal normal bold 18px/32px Nunito;
      margin-left: auto;
    }
  }
  .offerSelect {
    width: 100%;

    #selectedOption {
      background: #f0f8ff 0% 0% no-repeat padding-box;
      border: 1px solid #4b9ce2;
      outline: none !important;
    }
    .offerSelectOption {
      height: 45px;
      width: 100%;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      margin-bottom: 15px;
      cursor: pointer;
      box-sizing: border-box;
      padding: 13px 0px 12px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        font: normal normal normal 15px/20px Nunito;
        color: #525252;
        margin-left: 5px;
      }
    }

    .priceLess {
      width: 100%;
      margin-bottom: 5px;
      .paddin {
        padding-right: 42px;
      }

      input {
        margin-bottom: 20px;
        background-color: #f4f4f4;
        padding: 12px 0px 12px 15px;
        font: normal normal normal 16px/22px Nunito;
      }
      .priceHelper {
        position: absolute;
        right: 10px;
        top: 12px;
        color: #99a0a7;
        font-size: 16px;
      }
    }
  }
}

.absoluteBlueBackground {
  background-color: rgba(75, 156, 226, 0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  body {
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .bodyLike {
    background-color: #f2f2f2;
  }

  #loginLeft {
    display: none;
  }

  #loginRight {
    width: 100%;
  }

  img {
    width: 150px;
  }

  #loginBlock {
    width: calc(100% - 20px);

    button {
      margin-top: 0px;
      &:disabled {
        background-color: #adadad;
      }
    }
  }

  #girisYap {
    margin-top: 22px;
  }

  #loginDirectly {
    margin-bottom: 29px;
  }

  #loginLogo {
    margin-bottom: 24px;
  }

  .cardGroup {
    display: grid;
    grid-template-columns: 173px 173px;
    margin: 0px 10px;
  }

  .slider {
    margin: 0px 10px 20px 10px;
    padding-bottom: 8px;
    max-width: calc(100% - 20px);

    a {
      padding-bottom: 6px;
      margin-right: 25px;
    }
  }

  .productCard {
    width: 173px;
    height: 266px;
    padding: 6px;
    margin-bottom: 10px;

    img {
      width: 161px;
      height: 184px;
    }

    .brandColor {
      flex-direction: column;
      margin-bottom: 10px;

      .productColor {
        font-size: 10px;
        margin-left: 0px;
      }
    }

    .productPrice {
      color: #3e3e3e;
      font-size: 18px;
      justify-self: last baseline;
      margin-top: auto;
    }
  }

  .header {
    height: 60px;
    padding: 10px;
    align-items: center;

    img {
      height: 30px;
      width: auto;
    }

    .headerButton {
      box-sizing: border-box;
      padding: 10px 19px;
      background-color: #f0f8ff;
      border-radius: 8px;
      margin-right: 10px;
      max-height: 40px;

      &:first-of-type {
        margin-left: auto;
      }

      &:last-of-type {
        margin-right: 0px;
        margin-left: 10px;
      }

      span {
        margin-left: 7px;
      }
    }
  }

  .banner {
    img {
      margin: 0px 10px 20px 10px;
      width: calc(100% - 20px);
    }
  }

  .productDetail {
    margin: 10px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .productDetailImage {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .productDetails {
      margin-top: 10px;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      color: #525252;
      margin-bottom: 2px;

      .detailHeader {
        height: 24px;
        font-size: 18px;
        margin-bottom: 10px;
        order: 1;
      }

      .detailProps {
        order: 3;
        display: inline-grid;
        grid-template-columns: 145px 1fr;
        margin-bottom: 10px;

        .propHead {
          margin-bottom: 10px;
        }
      }

      .detailPrice {
        order: 2;
        height: 27px;
        font-size: 20px;
        margin-bottom: 10px;
      }

      .detailButtons {
        order: 4;
        height: 45px;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        cursor: pointer;
        width: 100%;

        .detailButton {
          width: 100%;
          min-width: 0px;

          &:first-child {
            background-color: #4b9ce2;
            color: #fff;
            margin-right: 11px;
          }

          &:last-child {
            background-color: #f0f8ff;
            color: #4b9ce2;
            margin-right: 0px;
          }
        }
      }

      .detailAbout {
        order: 5;

        .aboutHeader {
          margin-bottom: 0px;
        }

        .aboutDesc {
          width: auto;
          text-align: left;
          font: normal normal normal 15px/23px;
          letter-spacing: 0px;
          color: #555555;
          opacity: 1;
        }
      }
    }
  }

  .notVisibleMobile {
    display: none;
  }
}

.switchButton {
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 44px;
    height: 24px;
    background: #ebebeb;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
    box-shadow: 0px 2px 4px #1e36482e;
  }

  input:checked + label {
    background: #4b9ce2;
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 20px;
  }
}

#activeCategory {
  border-bottom: 3px solid #4b9ce2;
}

.hidden {
  visibility: hidden;
}
